

.container_one {
  width: 60vw;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
p {
  font-family: Tahoma !important;
  font-size: 1.6em;
  line-height: 2;

}}

.one {
  min-width: 50vw;
  min-height: 80vw ;
  background-image: url("../../assets/Isidora/Background2.png");
  background-size: cover;
}

.logo {
  margin-top: 5em;
  img {

  }
}
.logo2 {
  margin-top: 6em;
}


.two {
  padding: 10% 8.5%;
  background-color: #CED0D4;

  .slika, .kontakt{
    width: 100%;
    text-align: center;
  }
  .slika {
    margin-top: 7em;
    margin-bottom: 7em;
  }
  img {
    margin: 5% auto;
    min-height: 3em;
    min-width: 3em;
    margin: 1em;
  }
  a {
    color: black;
    &:hover {
      color: black;
    }
    &:active {
      color: black;
    }
  }

}

@media (min-width: 0px) {
  p {
    font-size: 75% !important; }
}

@media (min-width: 768px) {
  p {
    font-size: 1.33em !important;
  }
}

.podnaslov {
  @media (min-width: 0px) {
    p {
      font-size: 0.1rem !important; }
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.33em !important;
    }
  }

}