// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: bigJohn;
  src: url("../fonts/bigJohn/bigJohn.otf") format("opentype");
}
@font-face {
  font-family: amble;
  src: url("../fonts/Amble-Bold.ttf");
}